@font-face {
	font-family: 'nsof-icomoon';
	src:url('font/icomoon.eot?map0iz');
	src:url('font/icomoon.eot?#iefixmap0iz') format('embedded-opentype'),
	url('font/icomoon.woff?map0iz') format('woff'),
	url('font/icomoon.ttf?map0iz') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.nsof-icon-icomoon {
	font-family: 'nsof-icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nsof-icon-icomoon[data-nsof-icon]:before {
	content: attr(data-nsof-icon);
}